@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-6 {
  width: 50%;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("/fonts/ofontruBebasNeue.woff") format("woff"), url("/fonts/ofontruBebasNeue.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.col-6 {
  width: 50%;
}

.header {
  padding: 21px 0;
  background-color: #333;
}

.header__spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  margin-left: 24px;
}

.header__icons a {
  padding-right: 17px;
}

.header__icons a:last-child {
  padding-right: 0;
}

.nav {
  min-width: 612px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.nav__links {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.languages {
  position: relative;
}

.languages::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  right: 0;
  top: -6px;
  background-color: #fff;
  opacity: 0.5;
}

.languages__main {
  margin-right: 36px;
  position: relative;
}

.languages__main::before, .languages__main::after {
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.languages__main::before {
  right: -14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.languages__main::after {
  right: -18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.languages p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
}

.languages p:hover {
  color: #FFB548;
}

.languages__drop {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  left: -8px;
  top: 23px;
}

.languages__drop p {
  padding: 5px 20px 5px 8px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 1051px;
  background-image: url(../images/social-background.png);
  color: #fff;
  letter-spacing: 2px;
}

.social__subtitle {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  padding-top: 255px;
  text-transform: uppercase;
  line-height: 24px;
}

.social__title {
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

.social__description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  margin: 50px 70px;
  line-height: 22px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__description::before {
  content: '';
  position: absolute;
  width: 711.5px;
  height: 2.99px;
  background: #FFFFFF;
  border-radius: 4px;
}

.social img {
  width: 100%;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*# sourceMappingURL=index.css.map */