@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider {
  min-width: 0;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/ofontruBebasNeue.woff") format("woff"), url("../fonts/ofontruBebasNeue.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-12 {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0 0 20px 0;
}

.header {
  padding: 21px 0;
}

.header__spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  margin-left: 24px;
}

.header__icons a {
  padding-right: 17px;
}

.header__icons a:last-child {
  padding-right: 0;
}

.nav {
  min-width: 612px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.nav__links {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links:hover {
  color: #FFB548;
}

.languages {
  position: relative;
}

.languages::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  right: 0;
  top: -2px;
  background-color: #fff;
  opacity: 0.5;
}

.languages__main {
  margin-right: 36px;
  position: relative;
}

.languages__main::before, .languages__main::after {
  content: '';
  position: absolute;
  width: 6px;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.languages__main::before {
  right: -14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.languages__main::after {
  right: -18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.languages span {
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.languages span:hover {
  color: #FFB548;
}

.languages__drop {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  left: -8px;
  top: 23px;
}

.languages__drop.is-on {
  display: block;
}

.languages__drop.is-off {
  display: none;
}

.languages__drop span {
  padding: 5px 20px 5px 8px;
}

.hero {
  background-image: url("../../images/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  min-height: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__items {
  text-align: center;
}

.hero__title {
  font-family: "BebasNeueBold";
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.hero__description {
  font-family: "BebasNeueBold";
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  padding: 21px 0 38px;
}

.hero__btn {
  color: #fff;
  background-color: #FFB548;
  padding: 18px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__btn span {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  color: #1A1917;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__btn--line {
  padding-right: 26px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__btn--line::before {
  content: '';
  position: absolute;
  right: 82px;
  top: 16px;
  width: 1px;
  height: 30px;
  background-color: #1A1917;
  opacity: 0.5;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.hero__btn:hover {
  background-color: #1A1917;
}

.hero__btn:hover span,
.hero__btn:hover .hero__btn--line {
  color: #FFB548;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1051px;
  background: url(../images/social-background.png);
  color: #fff;
  letter-spacing: 2px;
}

.social__subtitle {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  padding-top: 295px;
  text-transform: uppercase;
}

.social__title {
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  position: relative;
}

.social__title::before {
  content: '';
  position: absolute;
  width: 460px;
  height: 2.99px;
  background: #FFFFFF;
  border-radius: 4px;
  bottom: -30px;
  left: 0;
  z-index: 2;
}

.social__description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  padding: 80px;
  line-height: 22px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social img {
  min-height: 100%;
  padding-top: 190px;
  width: 100%;
}

.social img {
  width: 100%;
  padding-top: 190px;
}

.system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/requirements.png) center no-repeat;
  background-size: cover;
  min-height: 960px;
}

.system__top {
  font-family: "BebasNeueBold";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin-top: -250px;
}

.system__content {
  width: 55%;
  padding-top: 145px;
}

.system__subtitle {
  font-size: 24px;
}

.system__title {
  font-size: 80px;
  line-height: 80px;
}

.system__columns {
  border: 1px solid #97979773;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.system--title {
  font-family: "BebasNeueBold";
  font-size: 24px;
  font-weight: 400;
  color: #FFB548;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.system--description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
  color: #fff;
  line-height: 22px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #080A0B;
}

.footer__top {
  padding-top: 50px;
}

.footer__subtitle {
  padding-top: 220px;
  font-family: "BebasNeueBold";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.footer__title {
  font-family: "BebasNeueBold";
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
}

.footer__description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  padding-top: 40px;
  line-height: 22px;
  color: #fff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.footer__email {
  margin-right: 20px;
  border-radius: 5px;
}

.footer__address {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.5;
  border-radius: 4px;
}

.footer__email {
  position: relative;
}

.footer__address {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  color: #fff;
  padding: 10px 0 0 20px;
  z-index: 1;
}

.footer__input {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 32px 20px 14px 20px;
  width: 90%;
  color: #FFB548;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  outline: none;
  border-radius: 5px;
}

.footer__input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #FFB548;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #FFB548;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__input::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #FFB548;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__input::placeholder {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #FFB548;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__input:hover {
  cursor: pointer;
}

.footer__input:hover::-webkit-input-placeholder {
  color: #fff;
}

.footer__input:hover:-ms-input-placeholder {
  color: #fff;
}

.footer__input:hover::-ms-input-placeholder {
  color: #fff;
}

.footer__input:hover::placeholder {
  color: #fff;
}

.footer__submit {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.08);
  color: #FFB548;
  line-height: 22px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
}

.footer__submit:hover {
  background-color: #FFB548;
  cursor: pointer;
  color: #080A0B;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__bottom--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}

.footer__items svg {
  margin-left: 40px;
  fill: white;
  opacity: 0.2;
  opacity: 0.2;
  opacity: 0.2;
  opacity: 0.2;
}

.footer__items svg:nth-child(1):hover {
  opacity: 1;
}

.footer__items svg:nth-child(2):hover {
  opacity: 1;
}

.footer__items svg:nth-child(3):hover {
  opacity: 1;
}

.footer__items svg:nth-child(4):hover {
  opacity: 1;
}

.footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 19px;
}

.footer__service {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */