.footer{
    display: flex;
     background: #080A0B;
    
     &__top{
        padding-top: 50px;
     }
     &__subtitle{
        padding-top: 220px;
        @include font($font-babue, 24px, 700);
        line-height: 24px;
        color:$color-white ;
     }
     &__title{
      @include font($font-babue, 70px, 700);
      line-height: 70px;
      color:$color-white ;

     }
     &__description{
      @include font($font-open, 18px, 400);
        padding-top: 40px;
        line-height: 22px;
        color:$color-white ;
     }
     &__form{
        display: flex;
        padding-top: 50px;
      
        
     }
     &__email{
       margin-right: 20px;
       border-radius: 5px;
      
     }
     &__address{
        @include font($font-open, 14px, 400);
        line-height: 19px;
        opacity: 0.5;
        border-radius: 4px;
     }
     &__email{
        position: relative;
     }
     &__address{
      @include font($font-open, 14px, 400);
        position: absolute;
        color: $color-white;
        padding: 10px 0 0 20px;
        z-index: 1;
     }
     &__input{
      &::placeholder{
         @include font($font-open, 18px, 400);
         color: $color-orange;
         transition: 0.5s;
      }
         transition: 0.5s;
      padding: 32px 20px 14px 20px;
      width: 90%;
      color: $color-orange;
      border: none;
      background: rgba(255, 255, 255, 0.08);
      outline: none;
      border-radius: 5px;
      &:hover{
        background: $color-orange;
         cursor: pointer;
          border: 1px solid transparent;
      }
      &:hover::placeholder{
         color: $color-black;
      }
     }
     &__submit{
      @include font($font-open, 16px, 700);
      background: rgba(255, 255, 255, 0.08);
      color: $color-orange;
      line-height: 22px;
      border: none;
      outline: none;
      border-radius: 5px;
      text-align: center;
      &:hover{
         background-color: $color-orange;
         cursor: pointer;
         color: $color-white;
         transition: 0.5s;
      }
     
     }
    &__bottom{
       &--top{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $color-white;
          padding-bottom: 30px;
          
       }
    }
    &__icons{
   margin-left: 30px;
    }
    &__privacy{
       display: flex;
       padding-top: 20px ;
       padding-bottom: 50px;
       justify-content: space-between;

    }
    &__copyright{
      @include font($font-open, 14px, 400);
      color: $color-white;
      line-height: 19px;

    }
    &__service{
      @include font($font-open, 12px, 700);
       text-align: right;
       letter-spacing: 0.1em;
       text-transform: uppercase;
       color: $color-white;
      
    }
    
}