.social{
    display: flex;
    width: 100vw;
    height: 1051px;   
    background-image: url(../images/social-background.png);  
    color: $color-white;
    letter-spacing: 2px;
    
    &__subtitle{
        @include font($font-open, 24px, 700);
        padding-top: 255px;
        text-transform: uppercase;
        line-height: 24px;
       
    }
    &__title{
        @include font($font-open, 60px, 700);
        line-height: 60px;  
        text-transform: uppercase;  
         
    }
    &__description{
        @include font($font-open, 18px, 400);
        margin: 50px 70px;
        line-height: 22px;
        justify-content: flex-end;
        &::before{
            content: '';
             position: absolute;
             width: 711.5px;
             height: 2.99px;
            z-index: 1;
             background: #FFFFFF;
             border-radius: 4px;             
        }

    }
    img{
        width: 100%;
        padding-top: 190px;
    }

}